{% extends 'images/base.html' %}
{% load staticfiles %}


{% block content %}
<script src="{% static "js/login.js" %}"></script>
 <script> trackClientLoginPage() </script>


    <h1>Login</h1>
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button onclick="trackNewLoginClick(document.getElementById('id_username').value)" class="btn btn-success" type="submit">Login</button>
    </form>

{% endblock %}
